.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
.done input[type=text] {
  color: #858585;
}


.del-btn {
  border: none;
  background: none;
  color: #37392E;
  font-size: 16px;
  font-weight: 100;
}

li {
  width: 50%;
  margin: 10px auto;
  display: flex;
}*/